<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steganography App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="container">
        <a href="{{ url_for('home') }}" class="logo">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo-image"> 
            StegoGuard
        </a>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('encrypt') }}">Encrypt</a></li>
            <li><a href="{{ url_for('decrypt') }}">Decrypt</a></li>
        </ul>
    </div>
</nav>

    <div class="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 StegoGuard. All rights reserved.</p>
    </footer>
</body>
</html>
