{% extends "base.html" %}

{% block content %}
<div class="decrypt">
    <h2>Decrypt Text from Image</h2><br>
    <form method="POST" enctype="multipart/form-data">
        <label for="image">Choose Stego Image:</label>
        <input type="file" name="image" id="image" required>
        <button type="submit" class="btn">Extract Text</button>
    </form>

    {% if extracted_text %}
    <div class="output">
        <h3>Extracted Text:</h3>
        <p>{{ extracted_text }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
